# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "acmt-multi.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "robot1"
driver
( 
  name "stage"
  provides ["position2d:0" "laser:0" ]
  model "robot1" 
)

driver
(
  name "lasertoranger"
  requires ["laser:0"]
  provides ["ranger:0"]
)

driver
( 
  name "stage"
  provides ["6666:position2d:0" "6666:laser:0" ]
  model "robot2" 
)

driver
(
  name "lasertoranger"
  requires ["6666:laser:0"]
  provides ["6666:ranger:0"]
)

driver
( 
  name "stage"
  provides ["6667:position2d:0" "6667:laser:0" ]
  model "robot3" 
)

driver
(
  name "lasertoranger"
  requires ["6667:laser:0"]
  provides ["6667:ranger:0"]
)
driver
( 
  name "stage"
  provides ["6668:position2d:0" "6668:laser:0" ]
  model "robot4" 
)

driver
(
  name "lasertoranger"
  requires ["6668:laser:0"]
  provides ["6668:ranger:0"]
)
driver
( 
  name "stage"
  provides ["6669:position2d:0" "6669:laser:0" ]
  model "robot5" 
)

driver
(
  name "lasertoranger"
  requires ["6669:laser:0"]
  provides ["6669:ranger:0"]
)
